<h1>Document Management System </h1>
<p> Hello <%= @user.name %>, </p>
<p>
How are you? Welcome to the document management sytem!
</p>
<p>
Click pn the link below to activate you account
</p>
<%= link_to "Activate Account", edit_account_activation_url(@user.activation_token,
                                                            email: @user.email) %>
