<% provide(:title, "All documents") %>
<div class="top-bar">
    <ul class="dropdown menu" data-dropdown-menu>
    <a>Document Categories</a>
        <ul class="menu vertical">
            <li> <%= link_to "Movies", documents_path(sort: "movies") %></li>
            <li> <%= link_to "shoes", documents_path(sort: "shoes") %></li>
        </ul>
    </ul>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>LINK</th>
            <th>TAG</th>
            <th> <%= link_to "DEPARTMENT",documents_path(sort: "department") %></th>
            <tr/>
    </thead>
    <tbody>
        <%= render @documents %>
    </tbody>
</table>
