<table>
    <thead>
        <tr>
            <th>TITTLE</th>
            <th>LINK</th>
            <th>TAG</th>
            <th>DEPARTMENT</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @document.title %></td>
            <td> <%= @document.link %></td>
            <td> <%= @document.tag %> </td>
            <td> <%= @document.department %></td>
        </tr>
    </tbody>
</table>
