/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "font-awesome";
.button{
    border-radius: 50%;
}
.homebody{
    background-color: gray;
    text-align: center;
}
.centreText{
     text-align: center;
     .header{
         background-color: black;
         color: white;
         padding: 0 ;
     }
     .sidebar{
          background-color: #1e4753;
     }
}

#footer{
    padding: 0;
    bottom: 0;
    text-align: center;
}

.footer{
     background-color: #d2d2d2;
     padding: 0;
}
.icons{
    font-size: 1.5em;
}
.blueText{
     color:blue;
}


