.gravatar{
    float: left;
    margin-right: 10px;
}
#footer{
    padding: 0;
    bottom: 0;
}

.users {
    list-style: none;
    margin: 0;
    li{
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }

}
