<% provide(:title, "About") %>
<h3>Who are we?</h3>
<p>We are a company dedicated to storing your documents</h3>
<p> We guarantee the following:</h3>
<ul><b>
        <li>Safe and secure document storage</li>
        <li> Easy to manage documents ie:</li>
        <ol>
            <li>Add </li>
            <li> Edit </li>
        </ol>
        <li>Easy and fast way of retrieving documents</li>
        <li> Pocket friendly prices</li>
    </b>
</ul>
