<% provide(:title, "About") %>
<div class="row">
    <div class="medium-4 columns">
        <h3>A bit of History</h3>
        </div>
        <div class="medium-4 columns">
<h3>What we do</h3>
<p>We are a company dedicated to storing your documents</h3>
<p> We guarantee the following:</h3>
<ul><b>
        <li>Safe and secure document storage</li>
        <li> Easy to manage documents ie:</li>
        <ol>
            <li>Add </li>
            <li> Edit </li>
        </ol>
        <li>Easy and fast way of retrieving documents</li>
        <li> Pocket friendly prices</li>
    </b>
</ul>
</div>
<div class="medium-4 columns">
    what to add
    </div>
</div>
