<% provide(:title, "Help") %>
<h1>Your satisafaction, Our Concern</h1>
<h5>Below is a list of the frequently asked questions. If you question is not answered, feel free to contact us any time</h5>
<b><p>1. Why a document management-system?</p></b>
<p> The document management system is an easy, clean and efficient place to store and retrieve your documents</p> 
<b><p>2. How do I benefit from using the app?</p></b>
<p>As a user you have the ability to: 
<ul>
    <li>Add a new document</li>
    <li>View all the documents</li>
    <li>View all documents per department</li>
</ul>
</p>
<p><b>3. What advantages do you have over other management sytems?</b></p>
<p>
<ol>
    <li><b>Security:</b>We ensure that you documents are free from any form of tampering</li>
    <li><b>Flexibily:</b>You can retrieve a document using its title, a key word or a tag</li>
    <li><b>Fast and Efficienct</b></li>
    <li><b>Sense of ownership:</b>We allow our users to manage their accounts</li>
</ol>
</p>
<p><b>4. How much do you charge for storage?</b></p>
<p>Our prices are pocket friendly. Charges depend on the document size and time length.</p>


