<section>
    <div class="small-12 columns footer">
        <div class="medium-4 columns ">
            <h3>Mission</h3>
            <p>To ensure that all our customers get 100% satisfaction while using our system</p>
            </div>
            <div class="medium-4 columns">
                <h3>Vision</h3>
                <p>To be the world's leading company in ensuring document's safety </p>
                </div>
                <div class="medium-4 columns">
                    <h3>Contact Us</h3>
        <p><b>Name:</b>StellaMaris</p>
        <p><b>Email:</b>stellanjage@gmail.com</p>
        <p><b>Contact:</b>789456123</p>
        </div>
<div class="small-12 columns" id="footer">
    <footer class="callout primary small">
        <p>@stlmaris designs 2016</p>
        <iv class="icons">
        <%= link_to fa_icon('facebook-square'), 'https://www.facebook.com/stella.njage' %>
        <%= link_to fa_icon('github'), 'https://github.com/StlMaris123' %>
        <%= link_to fa_icon('twitter'), 'https://twitter.com/StlMaris' %>
        </div>
    </footer>
</div>
</section>
